:root {
  --font-color: #fff;
  --bg-url: url(./images/bg-mobile.jpg);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --border-color: rgba(255, 255, 255, 0.5);
  --border-color-hover: rgb(255, 255, 255);
  --highlight-color: rgba(255, 255, 255, 0.2);

  --switch-bg: url(./images/MoonStars.svg);
}

.light {
  --font-color: #000;
  --bg-url: url(./images/bg-mobile-light.jpg);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --border-color: rgba(0, 0, 0, 0.5);
  --border-color-hover: rgb(0, 0, 0);
  --highlight-color: rgba(0, 0, 0, 0.2);

  --switch-bg: url(./images/Sun.svg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-url) no-repeat center top/cover;
  height: 100vh;
}

/* Main Area */
#mainArea {
  max-width: 580px;
  margin: 25px auto 0;
  text-align: center;
  padding: 0 24px;
}

.user > img {
  width: 112px;
  margin: 24px 0 8px;
}

.user > p {
  margin-bottom: 24px;
}

/* Switch */
#switch {
  position: relative;
  width: 64px;
  cursor: pointer;
  margin: 4px auto;
}

#switch button {
  display: block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
  background: #fff var(--switch-bg) no-repeat center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

#switch span {
  display: block;
  height: 24px;
  width: 64px;
  background: var(--surface-color);
  border-radius: 9999px;
  border: 1px solid var(--border-color);
}

.light #switch button {
  right: 0;
}

/* Lists */
.links > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 24px 0;
}

.anchorLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--surface-color);
  text-decoration: none;
  padding: 16px 0;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  backdrop-filter: blue(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.2s;
}

.anchorLinks:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--border-color-hover);
}

/* Social Links */
#socialLinks {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

#socialLinks a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-size: 24px;
  border-radius: 50%;
  transition: background 0.4s;
}

#socialLinks a:hover {
  background-color: var(--highlight-color);
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./images/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./images/bg-desktop-light.jpg);
  }
}
